* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Square Peg", cursive;
}

.dochead {
  text-align: center;
  background-color: lavenderblush;
  padding-bottom: 50 px 20px;
}

.docmain {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
